{%extends 'blog/base.html' %}
{% block title %} - About{% endblock %}
{% block pagina %}About{% endblock %}

{% block contenido %}
<CENTER>
<div class="container">
<table>
<tr><td><h1>Prop&oacute;sito</h1>
<hr></td></tr>
<tr>
<td><i>
Este blog fue pensado para aquellas personas que quieran conocer y agregar posts de los distintos lugares 
que contenga el pa&iacute;s de la Argentina. 

<BR> Es importante mencionar que un usuario podrá incluir contenidos; siempre y cuando
se encuentre previamente registrado y autenticado sobre nuestro Blog.

<BR>Por otra parte, no es requerida ninguna registración y autenticación para la observación
de los contenidos de los lugares ya pre-cargados sobre nuestro Blog.</i></td>
</tr>

<tr><td><p>&nbsp;</p></td></tr>

<tr><td><h1>Qui&eacute;nes somos?</h1>
<hr></td></tr>
<tr>
<td>Nuestros nombres son <B>Bethzabeth Mendoza</B> y <B>Bruno Di Gaetano</B>, donde a continuación 
pasaremos a contarles un poco de nosotros...
<p>&nbsp;</p>
</td>
</tr>

<TR><TD><H3>Bethzabeth Mendoza</H3></TD></TR>
<TR><TD>Escribe aquí...</TD></TR>

<tr><td><p>&nbsp;</p></td></tr>

<TR><TD><H3>Bruno Di Gaetano</H3></TD></TR>
<TR><TD><i>Soy un rosarino de 41 años que vivo actualmente en la ciudad autónoma de Buenos Aires.
<BR>Tengo 2 hijos: <b>Bianca (7 años) y Benicio (5 años)</b> con Vanesa.
<li>A nivel profesional, soy Ingeniero en Sistemas Informáticos desde el año 2004; </li>
<li>Y actualmente me encuentro trabajando con el rol de Jefe de Aplicaciones/Soluciones 
Corporativas en la empresa Arcos Dorados.</li>
</i></TD></TR>

</table>


</div>
</CENTER>
{% endblock %}