{% extends 'ejemplo/base.html' %}
{% block title %}Alta de Nuevo Familiar{% endblock %}
{% block titulo %}Alta de Nuevo Familiar{% endblock %}
{% block contenido %}

<P></P>
  
<form action="/mi-familia/alta" method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Grabar">
</form>

<h2 style="color:green">{{msg_exito}}</h2>

<center>
<TABLE width="200"><TR><TD align="center" class="navegacion"><a href="{% url 'familiar-buscar' %}">Buscar</a></TD></TR></TABLE>
</center>
  

{% endblock %}